<div class="container">
	<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
		<div class="col-md-3 mb-md-0">
			<a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
				<img src="{{ asset('assets/logos/logo_1.png')}}" height="80">
			</a>
		</div>
		<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
			<li>
				<a href="/" class="nav-link px-2 link-secondary">ACCUEIL</a>
			</li>
			<li>
				<a href="{{ path ('app_rides')}}" class="nav-link px-2">COVOITURAGES</a>
			</li>
			<li>
				<a href="#" class="nav-link px-2">CONTACT</a>
			</li>
		</ul>
		<div class="col-md-3 text-end">
			<button type="button" class="btn btn-outline-primary me-2">INSCRIPTION</button>
			<button type="button" class="btn btn-primary">CONNEXION</button>
		</div>
	</header>
</div>
